@media (min-width: 400px) {
    body {
        background-color: rgb(40,60,80) !important;
    }
}
@media (max-width: 800px) {
    h1 {
      text-align: center;
    }
}
@media (orientation: landscape) {
    article {
      max-width: 50ch;
    }
}
@media (min-height: 200px) {
    h1 {
        background-color: rgb(186, 186, 212);
      }
}
@media print {
    p {
      font-family: serif;
    }
}
/*@media (prefers-color-scheme: light) {
    body, h1 {
      color: #111;
      background-color: #DDD;
    }
  } */
@media not all and (hover: hover) {
    a {
      background-color: #212;
      padding: 2px 5px;
    }
  }
.imagen{
    display: block;
}

@media screen and (min-width: 800px) and (max-width: 899px) {
    .imagen{
        display: none;
    }
}
.imagen{
    width: 100%; 
    height: auto; 
}

@media screen and (min-width: 200px) and (max-width: 400px) {
    .imagen{
        height: 400px;
        object-fit: cover;
    }
}

@media (min-resolution: 2dppx) {
    article {
      background-color: #667;
    }
}
/*falta realizar punto 6*/
