*{
    background-color: #222;
    color:  #ee6;
}
h1 {
    text-align: center;
    
}
h1:hover {
    color: #f88aaa;
}
p {
    font-family: sans-serif;
}

h1,h2,h3{
    color: #eee;
    text-transform: uppercase;
}
.linea1{
    background-color: #efe;
}
p.strong {
    border: #eee;
}
.the-force {
    background-color: #444;
    color: white;
    font-weight: bold;
}
.light-side {
    color: #66f;
}
.dark-side {
    color: #f33;
}
#og-trilogy{
    list-style-type: circle;
}
#og-trilogy li a{
    list-style-type: circle;
    background-color: #111;
}
.movies-list li a{
    background-color: #333;
}
.second-list {
    padding-left: 150px;
}
.third-list li:last-child {
    margin-top: 30px;
}
a:visited {
    color: gray;
}
a:not([href]) {
    font-style: italic;
}
